body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 480px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.login-title{
    font-size: 35px;
}

.login-input{
    width: 325px;
    margin-top: 35px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgba(116, 116, 116, 0.8);
}

#login-submit{
    width: 325px;
    margin-top: 35px;
    padding: 10px 0px;
    border-radius: 30px;
    border: 2px solid rgba(116, 116, 116, 0.8);
    cursor: pointer;
    transition: 125ms;
}

#login-submit:hover{
    transform: translateY(-2px);
    opacity: .8;
}